<%= render partial: "layouts/new_message_form" %>
<div>
  <%= turbo_stream_from "messages" %>
  <div id="messages" class="p-5 flex flex-wrap justify-between">
    <%= render @messages %>
  </div>
</div>
